:root {
  --primary-color: #a2678a;
  --box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
  --secondary-color: #be9fb2;
  --third-color: #ecd4e2;
  --fourth-color: #f9f6f9;
}
body {
  max-width: 800px;
  text-align: center;
}
h1 {
  font-size: 90px;
  font-family: "Lora", serif;
}
h3 {
  color: gray;
  font-weight: normal;
}
p {
  color: #61677a;
  padding: 10px;

  margin: 10px;
}
.contactMe {
  background-color: var(--primary-color);
  color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px var(--third-color);
  font-family: "Lora", serif;
}
.about {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  padding: 20px;
  border-radius: 5px;
  font-family: "Lora", serif;
}
.Home {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  padding: 5px;
  border-radius: 5px;
}
.about-p {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}
.primary-link {
  background-color: var(--primary-color);
  box-shadow: 0.4rem 0.3rem var(--secondary-color),
    -0.3rem -0.3rem var(--third-color);
  color: white;
  padding: 20px;
  font-family: "lora", serif;
}
#Contact {
  font-weight: bold;
  font-size: 48px;
  font-family: "lora", serif;
}
a {
  text-decoration: none;
  color: var(--primary-color);
}
img {
  border-radius: 5px;
  border: 25px solid var(--fourth-color);
  flex: 0 0 auto;
  width: 100%;

  display: block;
  margin: auto;
  box-sizing: border-box;
}
.bg-light {
  background-color: var(--fourth-color) !important;
}
.navbar-brand {
  font-family: "lora", serif;
}

.hero {
  background-color: var(--fourth-color);
  text-align: center;
}
.hero h2 {
  font-family: "Playfair Display" serif;
  font-size: 26px;
  font-weight: bold;
  margin: 0;
}
.hero h3 {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 18px;
}
